{% extends "admin/layout.njk" %}
{% block head %}
  <title>Chefs - Foodfy</title>
{% endblock %}
{% block content %}

  <section class="admin">

    <div class="form-header">
      <h3>Editando chef</h3>
      <div class="actions">
        <form id="form-delete" method="POST" action="/admin/chefs?_method=DELETE">
          <input type="hidden" name="id" value="{{chef.id}}"/>
          <button class="delete" type="submit">Deletar</button>
        </form>
        <form method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">

          <button type="submit">Salvar chef</button>
        </div>
      </div>

      {% include 'admin/chefs/fields.njk' %}

      <input type="hidden" name="id" value="{{chef.id}}"/>

    </form>
  </section>

  <script>

    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function (event) {
      const confirmation = confirm("Deseja deletar?")
      if (!confirmation) {
        event.preventDefault()
      }
    })
  </script>

{% endblock %}