<div class="item">
  <p>Nome</p>
  <input name="name" value="{{chef.name}}">
</div>
<div class="item">
  <p>Avatar</p>
  <input type="url" name="avatar_url" placeholder="http://" value="{{chef.avatar_url}}">
</div>