{% extends "admin/chefs/layout.njk" %}
{% block head %}
  <title>Chefs - Foodfy</title>
{% endblock %}
{% block content %}

  <section class="admin">

    <div class="form-header">
      <h3>Chef:
        {{chef.name}}</h3>
      <div class="actions">
        <a class="button" href="/admin/chefs/{{ chef.id }}/edit">
          Editar chef
        </a>
      </div>
    </div>
    <div class="chef-details">
      <img src="{{chef.avatar_url}}" alt="{{chef.name}}">
      <h1>{{chef.name}}</h1>
      <h2>{{chef.total_recipes}}
        receitas</h2>
    </div>

    <p class="chef-recipes">Receitas</p>
    <div class="cards-admin">
      {% for recipe in recipes %}
        <div class="card-admin" id="{{recipes.indexOf(recipe)}}">
          <div class="card__image-container-admin">
            <img src="{{recipe.image}}" alt="{{recipe.title}}"/>
          </div>
          <div class="card__content">
            <p class="card__title">{{recipe.title}}</p>
            <p class="card__subtitle">por
              {{recipe.author}}</p>
            <p class="button">
              <a href="/admin/recipes/{{recipe.id}}">Visualizar</a>
            </p>
          </div>
        </div>
      {% endfor %}
    </div>

  </form>
</section>

<script>
  function addIngredient() {
    const ingredients = document.querySelector("#ingredients");
    const fieldContainer = document.querySelectorAll(".ingredient");

    // Realiza um clone do último ingrediente adicionado
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

    // Não adiciona um novo input se o último tem um valor vazio
    if (newField.children[0].value == "") 
      return false;
    
    // Deixa o valor do input vazio
    newField
      .children[0]
      .value = "";
    ingredients.appendChild(newField);
  }

  function addPreparation() {
    const preparations = document.querySelector("#preparations");
    const fieldContainer = document.querySelectorAll(".preparation");

    // Realiza um clone do último ingrediente adicionado
    const newField = fieldContainer[fieldContainer.length - 1].cloneNode(true);

    // Não adiciona um novo input se o último tem um valor vazio
    if (newField.children[0].value == "") 
      return false;
    
    // Deixa o valor do input vazio
    newField
      .children[0]
      .value = "";
    preparations.appendChild(newField);
  }

  document
    .querySelector(".add-ingredient")
    .addEventListener("click", addIngredient);

  document
    .querySelector(".add-preparation")
    .addEventListener("click", addPreparation);
</script>

{% endblock %}