{% extends "layout.njk" %}
{% block content %}

  <div class="wrapper">
    <div class="content">
      <h1>As melhores receitas</h1>
      <h2>
        Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.
      </h2>
    </div>
    <img src="/assets/chef.png" alt="Foodfy"/>
  </div>

  <section class="mais-acessadas">
    <p class="cards__section-title">Mais Acessadas</p>

    <div class="cards">
      {% for item in items %}
        <div class="card" id="{{item.title}}">
          <div class="card__image-container">
            <img src="{{item.image}}" alt="{{item.title}}"/>
          </div>
          <div class="card__content">
            <p class="card__title">{{item.title}}</p>
            <p class="card__subtitle">por
              {{item.author}}</p>
          </div>
        </div>
      {% endfor %}
    </div>

  </section>

{% endblock %}