{% extends "web/layout.njk" %}
{% block head %}
  <title>Receitas - Foodfy</title>
{% endblock %}
{% block content %}

  <section class="admin">
    <p class="cards__section-title">Chefs</p>
    <div class="cards-chefs">

      {% for chef in chefs %}
        <div class="card-chef" id="{{chef.id}}">
          <div class="chef-img">
            <img src="{{chef.avatar_url}}" alt="{{chef.title}}"/>
          </div>
          <div class="card__content">
            <p class="chef__title_web">{{chef.name}}</p>
            <p class="recipes">
              {{chef.total_recipes}}
              receitas
            </p>
          </div>
        </div>
      {% endfor %}

    </div>

    <div class="pagination" data-page="{{ pagination.page }}" data-total="{{ pagination.total }}" data-filter="{{ filter }}"></div>

  </section>

{% endblock %}