{% extends "web/layout.njk" %}
{% block head %}
  <title>{{item.title}}
    - Foodfy</title>
{% endblock %}
{% block content %}
  <div class="recipe-wrapper">
    <div class="recipe__image">
      <img src="{{item.src}}" alt="{{item.title}}">
    </div>
    <div class="recipe__content">
      <p class="recipe__title">{{item.title}}</p>
      <p class="recipe__author">por
        {{item.chef_name}}</p>
      <br>
      <div class="recipe__section">
        <p class="recipe__subtitle">Ingredientes<span class="recipe__expansion">MOSTRAR</span></p>
        <div class="recipe__description">
          <ul>
            {% for item in item.ingredients %}
              <li>{{item}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="recipe__section">
        <p class="recipe__subtitle">Modo de preparo<span class="recipe__expansion">MOSTRAR</span></p>
        <div class="recipe__description">
          <ol>
            {% for item in item.preparation %}
              <li>{{item}}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
      <div class="recipe__section">
        <p class="recipe__subtitle">Informações adicionais<span class="recipe__expansion">MOSTRAR</span></p>
        <div class="recipe__description">
          <p>{{item.information}}</p>
        </div>
      </div>
    </div>
  </div>

  <script>
    const recipe_sections = document.querySelectorAll(".recipe__section");
    for (let recipe_section of recipe_sections) {
      const section = recipe_section.querySelector(".recipe__description");
      recipe_section
        .querySelector(".recipe__expansion")
        .addEventListener("click", function () {
          if (section.classList.contains("active") === true) {
            section
              .classList
              .remove("active");
            recipe_section
              .querySelector(".recipe__expansion")
              .innerHTML = "MOSTRAR";
          } else {
            section
              .classList
              .add("active");
            recipe_section
              .querySelector(".recipe__expansion")
              .innerHTML = "ESCONDER";
          }
        });
    }
  </script>
{% endblock %}