{% extends "web/layout.njk" %}
{% block head %}
  <title>{{item.title}}
    - Foodfy</title>
{% endblock %}
{% block content %}
  <div class="recipe-wrapper">
    <div class="recipe__image">
      <img src="{{item.image}}" alt="{{item.title}}">
    </div>
    <div class="recipe__content">
      <p class="recipe__title">{{item.title}}</p>
      <p class="recipe__author">por
        {{item.chef_name}}</p>
      <br>
      <div class="recipe__section">
        <p class="recipe__subtitle">Ingredientes<span class="recipe__expansion">MOSTRAR</span></p>
        <div class="recipe__description">
          <ul>
            {% for item in item.ingredients %}
              <li>{{item}}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="recipe__section">
        <p class="recipe__subtitle">Modo de preparo<span class="recipe__expansion">MOSTRAR</span></p>
        <div class="recipe__description">
          <ol>
            {% for item in item.preparation %}
              <li>{{item}}</li>
            {% endfor %}
          </ol>
        </div>
      </div>
      <div class="recipe__section">
        <p class="recipe__subtitle">Informações adicionais<span class="recipe__expansion">MOSTRAR</span></p>
        <div class="recipe__description">
          <p>{{item.information}}</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}