<html lang="pt">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles.css"/>

    {% block head %}
      <title>Foodfy</title>
    {% endblock %}
  </head>
  <body>
    <header class="admin">
      <div class="admin-header">
        {% block header %}
          <a href="/admin"><img src="/assets/logo2.png" alt="Foodfy"/></a>
        {% endblock %}
      </div>
    </header>
    {% block content %}{% endblock %}

    <script src="/scripts.js"></script>
  </body>
</html>