<div class="item">
  <p>Imagens da receita (selecione até 5 fotos)</p>
  <div id="photos-container" class="limit=5">
    <div id="photos-upload">
      <input id="photos-input" type="file" name="photos" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event)">
      <p>
        <i class="material-icons">add</i>
      </p>
    </div>
    <div id="photos-preview">
      {% if files %}
        {% for image in files %}
          <div class="photo" id="{{image.file_id}}">
            <img src="{{image.file_path}}" alt="{{image.name}}">
            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
        {%endif%}
      </div>
    </div>
  </div>
  <div class="item">
    <p>Chef</p>
    <select name="chef" placeholder="Seleceione um chef">
      {% for chef in chefOptions %}
        <option value="{{chef.id}}" {% if recipe.chef_id == chef.id %} selected{% endif %} >
          {{chef.name}}
        </option>
      {% endfor %}
    </select>
  </div>
  <div class="item">
    <p>Título</p>
    <input type="text" name="title" value="{{ recipe.title }}"/>
  </div>
  <div class="item">
    <p>Ingredientes</p>
    <div id="ingredients">
      {% for ingredient in recipe.ingredients %}
        <div class="ingredient">
          <input type="text" name="ingredients[]" value="{{ ingredient }}"/>
        </div>
      {% else %}
        <div class="ingredient">
          <input type="text" name="ingredients[]"/>
        </div>
      {% endfor %}
    </div>
    <p class="add-ingredient">Adicionar novo ingrediente</p>
  </div>
  <div class="item">
    <p>Modo de preparo</p>
    <div id="preparations">
      {% for preparation in recipe.preparation %}
        <div class="preparation">
          <input type="text" name="preparation[]" value="{{ preparation }}"/>
        </div>
      {% else %}
        <div class="preparation">
          <input type="text" name="preparation[]"/>
        </div>
      {% endfor %}
    </div>
    <p class="add-preparation">Adicionar novo passo</p>
  </div>
  <div class="item">
    <p>Informações adicionais</p>
    <textarea name="information">{{ recipe.information }}</textarea>
  </div>
  <input type="hidden" name="user_id" value="{{session.userId}}">