@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

:root {
  --primary-color: #6558c3;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Roboto";
  color: #111111;
  margin: 0 auto;
  position: relative;
  padding-bottom: 112px;
}

header {
  max-width: 940px;
  margin: 0 auto;
  display: grid;
  padding: 30px 0;
}

.links a img {
  vertical-align: middle;
  margin-right: 100px;
}

.links a.link {
  font-size: 16px;
  font-weight: 500;
  padding: 38px 15px 36px 15px;
  color: #111111;
  text-decoration: none;
}

.links a.active {
  font-weight: 700;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fbdfdb;
  height: 366px;
  border-radius: 30px;
  display: grid;
  position: relative;
}

.wrapper .content {
  margin: auto 0;
  padding-left: 60px;
  max-width: 316px;
}

.wrapper .content h1 {
  font-size: 32px;
}

.wrapper .content h2 {
  margin-top: 10px;
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #000000;
  opacity: 0.7;
}

.wrapper img {
  position: absolute;
  right: 100;
  bottom: 0;
}

/* === MAIS ACESSADAS === */

.mais-acessadas {
  max-width: 940px;
  margin: 0 auto;
}

.cards__section-title {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0 20px 0;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px 20px;
}

.card {
  max-width: 300px;
}

.card__image-container img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card__title {
  font-size: 18px;
  font-weight: medium;
  margin-bottom: 5px;
}

.card__subtitle {
  font-size: 14px;
  color: #777777;
}

/* === FOOTER === */

footer {
  margin-top: 50px;
  background: #eeeeee;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__title {
  font-size: 14px;
  padding: 23px 0;
  color: #999999;
  text-align: center;
}

/* === ABOUT === */

.about {
  max-width: 940px;
  margin: 0 auto;
}

.about .about__title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.about p {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
}

.about .about__subtitle {
  font-size: 20px;
  font-weight: bold;
}

/* === MODAL === */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: white;
  max-width: 600px;
  padding: 30px;
  margin: 30vh auto;
  border-radius: 16px;
  display: grid;
}

.modal img {
  width: 600px;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.modal p.modal__title {
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.modal p.modal__subtitle {
  font-size: 18px;
  color: #777777;
  text-align: center;
  margin-top: 5px;
}

.modal p.modal__button {
  font-size: 16px;
  color: #999999;
  margin-top: 60px;
  cursor: pointer;
  text-align: center;
}

/* === RECIPE PAGE === */

.recipe-wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.recipe__image img {
  width: 100%;
  height: 280px;
  border-radius: 15px;
}

.recipe__title {
  font-size: 36px;
  font-weight: bold;
  color: #111111;
  text-align: center;
  margin-top: 50px;
}

.recipe__author {
  font-size: 20px;
  color: #777777;
  text-align: center;
  margin-top: 4px;
}

.recipe__subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 50px;
}

.recipe__expansion {
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  margin-left: 8px;
  cursor: pointer;
}

.recipe__description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-top: 20px;
  opacity: 0;
  display: none;
}

.recipe__description.active {
  opacity: 1;
  display: block;
}

.recipe__description li {
  list-style-position: inside;
}

/* === ADMINISTRATION == */

header.admin {
  background-color: #111111;
  max-width: 100%;
  padding: 27px 0;
}

.admin-header {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

/* === create === */

.form-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
  margin: 50px 0 26px 0;
}

.form-header h3 {
  font-size: 24px;
  justify-self: start;
}

.form-header .actions {
  display: flex;
}

.form-header button,
a.button {
  background-color: var(--primary-color);
  padding: 9px 20px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
}

a.button {
  text-decoration: none;
}

.item p {
  font-weight: bold;
  margin-top: 30px;
}

.item input,
.item textarea {
  width: 100%;
  outline: none;
  margin-top: 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 15px 20px;
  font-size: 16px;
}

p.add-ingredient,
p.add-preparation {
  margin-top: 15px;
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

.item textarea {
  min-height: 257px;
  resize: vertical;
}

button.delete {
  background-color: #dc4747;
  margin-right: 10px;
}

.cards-admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 20px;
}

.card-admin {
  display: grid;
  grid-template-columns: 172px 1fr;
  gap: 20px;
}

.card-admin .card__image-container-admin img {
  width: 172px;
  height: 80px;
  object-fit: cover;
  border-radius: 9px;
}

.card-admin .card__content .button a {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}

.card-admin .card__content p.button {
  margin-top: 10px;
}

.index-header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 20px 0;
}

.index-header-title {
  font-size: 24px;
  font-weight: bold;
}

.index-header a {
  background-color: var(--primary-color);
  padding: 9px 20px;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}
